$primary: #ff00a4;
$secondary: #eee;
$background: #eee;
$white: #fff;
$on-background: #404040;
$shadow-color: rgba(0, 0, 0, 0.1);
$success: #22a958;
$rate: #5ba839;
$rate-background: rgba(91, 168, 41, 0.08);
$light: #a3a3a3;
