$small-regular: normal normal 400 12px/16px VazirFarsiNumeral;
$small-medium: normal normal 500 12px/16px VazirFarsiNumeral;
$small-bold: normal normal 700 12px/16px VazirFarsiNumeral;

$medium-regular: normal normal 400 14px/18px VazirFarsiNumeral;
$medium-medium: normal normal 500 14px/18px VazirFarsiNumeral;
$medium-bold: normal normal 700 14px/18px VazirFarsiNumeral;

$large-regular: normal normal 400 16px/20px VazirFarsiNumeral;
$large-medium: normal normal 500 16px/20px VazirFarsiNumeral;
$large-bold: normal normal 700 16px/20px VazirFarsiNumeral;

$padding-normal: 16px;
$radius-normal: 16px;
