@import "./reset.scss";
@import "./colors";
@import "./dimensions";

html {
  background-color: $primary;
}

body {
  font: $large-regular;
  direction: rtl;
  background-color: $background;
  color: $on-background;
  max-width: 550px;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $secondary transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: $secondary;
  border-radius: 14px;
}
